* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --button-hover-tt-color: #02799D;
    --button-tt-color: #FFFFFF;
    --nav-tt-color: #C4C4CC;
    --main-tt-color: #E1E1E6;

    font-size: 62.5%;
}

body 
{
    background: center/cover fixed;
    height: 100vh;

    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: normal;
}

.home, .milkway
{
    background-image: url("./assets/1.png");
}

.universe
{
    background-image: url("./assets/2.png");
}

.exploration, .solarsystem
{
    background-image: url("./assets/3.png");
}

nav 
{
    display: flex;
    align-items: center;
    padding-top: 4rem;
    padding-left: 7.2rem;

}

nav img 
{
    padding-right: 3.2rem;
}

nav #logo 
{
    background: none;
    border: none;
    cursor: pointer;

    transition: transform 200ms;
}

nav #logo:hover 
{
    transform: scale(1.1);
}

nav ul
{
    display: flex;
    gap: 3.2rem;

    list-style: none;
}

nav ul li, nav ul li a 
{
    text-decoration: none;
}

nav ul li a 
{
    font-size: 2.2rem;
    color: var(--nav-tt-color);
    
    transition: all 200ms;
}

a:hover 
{
    color: var(--button-tt-color);
    font-size: 2.4rem;
}

a.focus
{
    color: var(--button-tt-color);
    font-size: 2.4rem;
    font-weight: 700;
}

main 
{
    color: var(--main-tt-color);  
}

main h1
{
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 125%;
    
}

main p 
{
    font-size: 1.8rem;
    line-height: 2.9rem;

    margin-top: 1.6rem;
}

main button 
{
    background: none;
    padding: 1.2rem 3.2rem;
    border: 2px solid var(--button-tt-color);
    border-radius: .5rem;
    
    color: var(--button-tt-color);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.4rem;
    
    cursor: pointer;
    
    transition: all 300ms;
}

main button:hover
{
    background: var(--button-tt-color);
    color: var(--button-hover-tt-color);
}

.home main 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;

    max-width: 40rem;
    margin-top: 17.2rem;
    margin-inline: auto;
}

.universe main, .exploration main, #milk-way-text, #solar-system-text
{
    max-width: 64.8rem;
    margin-top: 6.3rem;
    margin-left: 10.2rem;
}

.milkway main, .solarsystem main
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3.2rem;
}

#milk-way-img 
{
    width: 100%;
    max-width: 70rem;
    height: auto;
    margin-right: 6.3rem;
}

#solar-system-img
{
    width: 100%;
    max-width: 60rem;
    height: auto;
    margin-top: 6.3rem;
    margin-right: 10.2rem;
}

